/**
 * Generic global styles & helpes classes
 */

// Add/remove floats
.float-right {
  float: right;
}
.float-left {
  float: left !important;
}
.float-none {
  float: none !important;
}
.clear {
  clear: both !important;
}
// Text alignment
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
// Apply capital case to an element
.caps {
  text-transform: uppercase !important;
}

hr {
  height: 2px;
  background-color: $body-divider;
  border: none;
}

// hr variations
hr.dotted {
  border: none;
  margin: 15px auto;
  max-width: 700px;
  height: 1px;
  background: repeat-x url("../../assets/images/dashed-hr.png");
}

// Mixins
@mixin hide-text {
  font-size: 0;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}