/**
 * Styling for the base structure of the website
 */

body {
  padding-top: 76px;

  &.home {
    padding-top: 0;
  }

  &.single-ondernemers {
      padding-top: 106px;
  }
}

.container {
  margin: 0 auto;
}

body.blog,
body.archive,
body.single-ondernemers {
  background-color: $footer-background;
}

body.single-post,
body.archive-ondernemers {
  background-color: $white;
}

img {
  max-width: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}