/**
 * Styling for the header and navbar
 */

.navbar {
  height: 76px;
  background-color: $white;
  padding: 0;

  //span.caret {
  //  line-height: 24px;
  //}

  .dropdown-toggle {
    &:after {
      margin-left: 8px;
      border-top: 6px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }

  .dropdown {
    .dropdown-menu {
      border: none;
      width: 100%;
      margin: 0;

      @include border-radius(0);

      .menu-item {
        width: 100%;
      }
    }

    &:hover .dropdown-menu {
      display: block;
    }
  }

  .navbar-nav > .dropdown > .dropdown-menu > .dropdown > .dropdown-menu {

    > li a:before  {
      content: "- ";
    }

    > .dropdown > .dropdown-menu {
      > li a:before {
        content: "-- ";
      }
      > .dropdown > .dropdown-menu {
        > li a:before {
          content: "--- ";
        }
      }
    }
  }
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  font-size: 0;
}

.nav-main {
  float: right;
}

.nav-main ul.nav > li {
  float: left;
}

.nav-main ul.nav li a {
  display: block;
  padding: 26px 15px;

  line-height: 24px;
  font-size: 15px;
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-primary;
}

.nav-main ul.nav li.current-page-ancestor > a,
.nav-main ul.nav li.active a,
.nav-main ul.nav li a:hover {
  color: $brand-primary;
  text-decoration: none;
}

@media screen and (max-width: $container-desktop) {
  .navbar-fixed-top {
    position: relative;
  }

  .navbar {
    height: auto;
  }

  .nav-main {
    margin-top: 52px;
    float: none;
    background-color: $white;
    display: block;
    width: 100%;

    ul.nav > li {
      float: none;
    }
  }
}

/**
*/

.archive-header {
  margin: 50px 0 30px;

  h1 {
    margin: 10px 0;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  p.subtitle {
    margin: 10px 0;
    text-align: center;
    color: $brand-primary;
    font-size: 18px;
  }
}

.title-container {
  position: relative;
  z-index: 10;
  color: $white;
  text-align: center;

  //.title-cta { }
}

body.page.home {
  .navbar {
    height: 76px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;

    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;

    &.scrolling {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .post-banner {
    padding-top: 76px;
    padding-bottom: 30px;
    min-height: 359px;
  }

  .post-banner:before {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .title-container {
    position: relative;
    z-index: 10;
    color: $text-primary;
    text-align: center;

    .entry-title {
      color: $text-primary;
      font-weight: 700;
    }

    //.title-cta { }
  }
}