/**
 * Styling for posts. Single and archive
 */

body.single-post .wrap {
  margin-bottom: 70px;
}

.btn-excerpt-more {
  margin-top: 30px;
}

.post-banner {
  min-height: 308px;
  position: relative;
  z-index: 1;
  background-position: center;

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);
  }

  &.inverse {
    background-color: $socket-background;

    .entry-title {
      padding: 60px 0 0;
      color: $white;
      text-align: center;
      z-index: 10;
      position: relative;
      text-transform: uppercase;
    }

    .entry-meta,
    .entry-meta a {
      color: $white;
      text-align: center;
      z-index: 10;
      position: relative;
    }
  }
}

.social-share-container {
  position: relative;
  z-index: 10;

  p.social-cta {
    text-align: center;
    color: $white;
    margin: 20px 0;
  }
}

.post img {
  max-width: 100%;
}

/**
 * Single Archive
 * ---------------------------------------------------------------
 */

.archive-container .post {
  margin: 42px 0;
  padding: 35px 0;
  background-color: $white;

  @include border-radius(5px);

  .entry-title a {
    color: $text-primary;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
  }

  img {
    @include border-radius(5px);
  }
}

/**
 * Ondernemers Single & Archive
 * ---------------------------------------------------------------
 */

.ondernemers-header {
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
  }

  h4 {
    font-size: 18px;
    font-weight: 300;
    color: $brand-primary;
  }
}

.ondernemers-container {
  margin: 30px 0;

  img {
    max-width: 100%;
  }

  .ondernemers {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $white;

    @include border-radius(5px);
  }

  .social-share {
    margin: 20px 0;

    li {
    }
  }
}

.ondernemers-footer {
  .ondernemers-info {
    margin-right: 20px;
    font-weight: 500;

    a {
      color: $text-primary;
      font-weight: 500;
    }
  }
}

.navigation-links {
  margin: 20px -35px;
  text-align: right;

  .fa {
    top: 2px;
    position: relative;
    margin: 0 4px;
  }

  a {
    margin: 5px 10px;
  }
}

.post-type-archive-ondernemers {
  .archive-container {
    margin-bottom: 62px;
  }
}

.full-width-banner {
  position: relative;
  height: 600px;
  width: 100%;
  background-position: center;
  background-size: cover;

  > .container {
    position: relative;
    height: 100%;
  }

  .ondernemer-banner-hero-container {
    bottom: 20%;
    right: 0;
    position: absolute;
  }

  .ondernemer-banner-hero {
    padding: 30px 50px;
    background-color: rgba(255, 255, 255, 0.7);

    @include border-radius(5px);

    .ondernemer-type {
      position: absolute;
      height: 30px;
      display: inline-block;
      line-height: 30px;
      padding: 0px 8px 2px 8px;
      font-size: 14px;
      text-transform: lowercase;

      top: -60px;
      left: 50px;
      color: $white;
      font-weight: 300;
      background-color: $brand-primary;
      @include border-top-radius( 5px);
    }

    .ondernemer-quote {
      text-transform: uppercase;
      font-weight: 700;
    }

    .ondernemer-function {
      margin: 0;
    }
  }
}

.ondernemers-header {
  margin: 50px 0;
  text-align: center;
}

.ondernemers-logo {
  text-align: center;

  img {
    //width: 100px;
    max-width: 100%;
    display: inline-block;
  }
}