.section {
  padding-top: 70px;
  padding-bottom: 70px;

  img {
    @include border-radius(5px);
  }

  &.section-flexwerkplek_opties {
    .flexwerk-optie {
      text-align: center;

      .flexwerk-icon {
        display: inline-block;
      }
      .ticket-title {
        color: $text-primary;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
        margin: 15px 0 5px;
      }
      .ticket-subtitle {
        margin: 5px 0;
        line-height: 18px;
      }
      .ticket-price {
        color: $brand-primary;
        margin: 2px 0 5px;
        line-height: 18px;
      }
    }

    .flexwerk-btn {
      margin: 20px auto 0;
    }
  }

  &.section-call_to_action {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 433px;
    width: 100%;
    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 1;

    text-align: center;
    display: table;

    &:before {
      display: block;
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      background-color: rgba(255, 255, 255, .5);
    }

    &.background-tint-dark {
      .cta-header {
        color: $white;
      }

      &:before {
        background-color: rgba(0, 0, 0, .5);
      }
    }

    .cta-container {
      display: table-cell;
      vertical-align: middle;
    }

    .cta-header {
      position: relative;
      z-index: 3;
      color: $text-primary;
      font-weight: 700;
      font-size: 42px;
      margin: 40px 0;
    }

    .cta-btn {
      position: relative;
      z-index: 3;
    }
  }
}

.background-color-white {
  background-color: $white;
}
.background-color-grey {
  background-color: $footer-background;
}