.section {
  padding-top: 70px;
  padding-bottom: 70px;

  img {
    @include border-radius(5px);
  }

  // Flexwerk
  &.section-flexwerkplek_opties {
    .flexwerk-optie {
      text-align: center;

      .flexwerk-icon {
        display: inline-block;
      }
      .ticket-title {
        color: $text-primary;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
        margin: 15px 0 5px;
      }
      .ticket-subtitle {
        margin: 5px 0;
        line-height: 18px;
      }
      .ticket-price {
        color: $brand-primary;
        margin: 2px 0 5px;
        line-height: 18px;
      }
    }

    .flexwerk-btn {
      margin: 20px auto 0;
    }
  }

  // CTA
  &.section-call_to_action {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 433px;
    width: 100%;
    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 1;

    text-align: center;

    > .container {
      height: 100%;
      display: table;
    }

    &:before {
      display: block;
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      background-color: rgba(255, 255, 255, .5);
    }

    &.background-tint-dark {
      .cta-header {
        color: $white;
      }

      &:before {
        background-color: rgba(0, 0, 0, .5);
      }
    }

    .cta-container {
      display: table-cell;
      vertical-align: middle;
    }

    .cta-header {
      position: relative;
      z-index: 3;
      color: $text-primary;
      font-weight: 700;
      font-size: 42px;
      margin: 40px 0;
    }

    .cta-btn {
      position: relative;
      z-index: 3;
    }
  }

  // Ondernemers
  &.section-ondernemers {

    .section-ondernemers-container {
      text-align: center;
    }

    .section-ondernemers-header {
      margin: 30px 0;

      h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 36px;
      }
      h4 {
        color: $brand-primary;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
      }
    }

    .section-ondernemers-image {
      img {
        max-height: 50px;
        height: auto;
        width: auto;
        margin: 20px auto;
        display: inline-block;
        filter: grayscale(100%);
      }

      > a {
        position: relative;
        height: 90px;
        display: block;
        margin: 10px 0;

        img {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          margin: 0;
        }

        &:before {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.7s linear;
        }
      }

      > a.selected {

        &:before {
          bottom: -10px;
          left: 50%;
          margin-left: -30px;
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          border: 30px solid transparent;
          border-bottom-color: $footer-background;
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .section-ondernemers-text-container {
      background-color: $footer-background;
      padding: 35px 45px;

      @include border-radius(5px);
    }

    ul.section-ondernemers-text-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0s, opacity 0.7s linear, height 0.5s linear;

        &.selected {
          height: auto;
          visibility: visible;
          opacity: 1;
        }

        p.section-ondernemers-title {
          margin: 20px 0 5px;
          font-size: 18px;
        }

        p.section-ondernemers-subtitle {
          margin: 5px 0 0;
          font-size: 15px;
          color: $brand-primary;
        }
      }
    }

    .section-ondernemers-more {
      margin: 20px auto;
    }
  }
}

.background-color-white {
  background-color: $white;
}
.background-color-grey {
  background-color: $footer-background;
}